@media only screen and (min-width: 992px) {
    .firstpage_container {
        background-position-y: 50%;
    }

    .menu nav ul a::after { 
        content:""; 
        float:left; 
        background: rgb(210, 0, 162); 
        width:100%; 
        height:6px; 
        border-radius: 3px;
    }

    .menu nav ul a span::after { 
        content:""; 
        float:left; 
        background:rgb(210, 0, 162); 
        width: 60%; 
        height:6px; 
        border-radius: 3px;
        position: relative;
        left: 20%;
    }    

    .main_title {
        width: 350px;
        height: 350px;
    }

    .main_title h1 {
        font-size: 4.5rem;
        padding-top: 50px;
        width: 300px;
    }

    .main_title a {
        top: 80px;
        left: 70px
    }

    .second_title {
        height: 200px;
        justify-content: flex-start;
        position: relative;
        left: 100px;
        padding-top: 50px;
    }

    .second_title h1 span:nth-child(1) {
        font-size: 4.5rem;
        top: 0px;
    }

    .second_title h1 span:nth-child(3) {
        font-size: 5.5rem;
        top: -45px;
        left: -35px;
    }

    .left_main {
        max-width: 45%;
    }

    .right_main {
        padding-left: 150px;
        position: relative;
        top: -200px;
    }
    
    .right_main p:first-child {
        display: block;
        background: -webkit-linear-gradient(-45deg, rgba(210,0,162,1) 0%, rgba(255,255,255,1) 50%, rgba(210,0,162,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
        font-style: italic;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 40px;
        opacity: 0.3;
    }

    .right_main img {
        display: block;
        float: right;
        transform: rotate(3deg);
        opacity: 1;
    }
}